global
    maxconn 8192
    nbthread 2

defaults
    mode http
    timeout connect 200ms
    timeout client 2s
    timeout server 2s
    timeout http-request 1s
    option http-server-close
    option dontlognull
    no log

frontend rinha_2026_in
    bind *:9999
    http-request set-header X-Req-Start %Ts.%ms
    default_backend rinha_2026_apis

backend rinha_2026_apis
    balance roundrobin
    http-reuse always
    option httpchk
    http-check send meth GET uri /ready

    server api1 api1:9999 maxconn 1024 check inter 2s fall 5 rise 2
    server api2 api2:9999 maxconn 1024 check inter 2s fall 5 rise 2
