global
    maxconn 4096
    log stdout format raw local0

defaults
    mode http
    log global
    option httplog
    timeout connect 1s
    timeout client 5s
    timeout server 5s

frontend rinha_2026_in
    bind *:9999
    default_backend rinha_2026_apis

backend rinha_2026_apis
    balance roundrobin
    option httpchk GET /ready
    http-check expect status 200

    server api1 api1:9999 check inter 1s fall 3 rise 2
    server api2 api2:9999 check inter 1s fall 3 rise 2
